@import "./variables.scss";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;    
    background: linear-gradient(45deg, $red, $yellow);
    .content{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        .box {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 200px;
            height: 200px;
            background-image:url(../img/Kuzma.jpg);
            background-size: cover;
            position: relative; 
            color: $white;
            font-family: $main-font;
            font-size: $main-size;
            font-weight: 700;         
            margin: 30px;
            // opacity: 0.5; 
            .songs_back{
                display: inline-block;
                position: absolute;
                background:rgba(0, 0, 0, 0.5);
                width: 100%;
                height: 100%;
            }
            .song_title{
                z-index: 2;
                position: relative;
                text-align: center;                
            }           
        }
        .animation:hover{
            opacity: 1;
            transform: scale(1.1);
            box-shadow: 10px 5px 5px black;            
            font-size: 30px;
        }
        
    }
    .header{
        margin: 30px auto;
        h1{
            color: white;
            font-family: $main-font;
        }
    }    
}